@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;700&family=Poppins:wght@300;400;500;700");
html {
  display: block;
}
body {
  display: block;
  margin: 8px;
  background-color: #4b4552;
}
body h1 {
  color: rgb(227, 82, 208);
  font-size: 28px;
  font-weight: bold;
  font-family: 'Roboto', sans-serif;
}
body h2 {
  color: honeydew;
  font-size: 20px;
  font-weight: bold;
  font-family: Arial, Helvetica, sans-serif;
}
body p {
  display: block;
  color: white;
  font-size: 20px;
  font-weight: lighter;
  font-weight: bold;
  line-height: 1.6;
  opacity: 0.7;
}
#banner a {
  font-size: 16px;
  font-weight: 600;
  font-family: 'Roboto', sans-serif;
  text-decoration: none;
  background-color: blue;
  color: white;

}
#banner a:hover {
  font-size: 16px;
  font-weight: 600;
  font-family: 'Roboto', sans-serif;
  text-decoration: none;
  background-color: blueviolet;
  color: white;
}
#banner p {
  margin-bottom: 40px;
  display: flex;
  align-items: center;
}
.btn-light {
  padding: 15px 20px;
  border-radius: 4px;
}
#footer a {
  font-size: 17px;
  color: grey;
}

#footer a:hover {
  color: white;
}
.container {
  width: 500px;
  margin: 0 auto;
}
.name {
  margin: 20px 0;
  position: relative;
  padding: 0.5em 0.75em;
  background-color: #90CAF9;
  border-radius: 6px;
  font-weight: bold;
}
.name:after {
  position: absolute;
  top: 100%;
  left: 10px;
  content: '';
  width: 0;
  height: 0;
  border: 10px solid transparent;
  border-top: 15px solid #90CAF9;
}
.card-white img {
  flex-direction: column;
}
.card-skyblue {
  background-image: url(images/snorlax.png);
  background-position: 97% bottom;
  background-size: cover;
  padding: 40px;
  box-shadow: 0px 10px 30px rgb(0 0 0 / 10%);
  border-radius: 4px;
  margin: 20px 0px;
}
.card-blue1 {
  background-image: linear-gradient(to right, #5ebfdd 0%, #F7BB97 51%, #DD5E89 100%);
  background-size: 200%;
  padding: 40px;
  box-shadow: 0px 10px 30px rgb(0 0 0 / 10%);
  border-radius: 4px;
  margin: 20px 0px;
  text-align: center;
  min-height: 140px;
}
.card-blue2 {
  background-image: linear-gradient(to right, #ba8ee9 0%, #F7BB97 51%, #DD5E89 100%);
  background-size: 200%;
  padding: 40px;
  box-shadow: 0px 10px 30px rgb(0 0 0 / 10%);
  border-radius: 4px;
  margin: 20px 0px;
  text-align: center;
  min-height: 140px;
}
.card-blue3 {
  background-image: linear-gradient(to right, #9d55ea 0%, #F7BB97 51%, #DD5E89 100%);
  background-size: 200%;
  padding: 40px;
  box-shadow: 0px 10px 30px rgb(0 0 0 / 10%);
  border-radius: 4px;
  margin: 20px 0px;
  text-align: center;
  min-height: 140px;
}
.card-blue {
  background-image: linear-gradient(to right, #4b4552 0%, #F7BB97 51%, #DD5E89 100%);
  background-size: 200%;
  padding: 40px;
  box-shadow: 0px 10px 30px rgb(0 0 0 / 10%);
  border-radius: 4px;
  margin: 20px 0px;
  text-align: center;
}

.img-circle {
  border-radius: 50%;
  border: white solid 4px;
}
#card-white {
  position: fixed;
  right: 0;
  top: 50%;
  width: 8em;
  margin-top: -2.5em;
}
